<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id ="account" class="com.bankManagementSystem.Account">

    </bean>
    <bean id = "customer" class = "com.bankManagementSystem.Customer">

    </bean>
    <bean id="bank" class="com.bankManagementSystem.Bank">
        <property name="account" ref="account"/>
        <property name="obj" ref="customer"/>
    </bean>
</beans>